.yy-bpm-modal-body{
    height: 80vh;
    width: 100vw;
    text-align: left;
    background-color: #f5f5f9
}
.yy-bpm-modal-body .am-button.yy-button-bottom{
    position: fixed;
    bottom: 0px;
    width: 100%;
}