.weui-icon-delete.weui-icon_gallery-delete{
    font-size: 0.4rem;
}

.weui-gallery__opr{
    line-height: 1rem;
}
.am-list-line{
    height:auto !important;
}
/*.am-modal-wrap{
    z-index: 1001;
}*/
.none .am-image-picker-list .am-image-picker-item .am-image-picker-item-remove,.none .weui-gallery__opr{
    display: none;
}
/*
.am-modal-mask{
    z-index: 999;
}
.am-modal-wrap{
    z-index: 1001;
}*/
