.ss-refer-tree .refer-tree-content{
    height: 10rem;
    overflow: auto;
}

.ss-refer-tree .am-list-item{
    border-bottom: solid 0.01rem #ddd;
}

/*.ss-refer-tree .refer-accordion .refer-pad .am-accordion-content-box {
    padding-left: 0.5rem;
}*/

 .am-accordion-content-box{
    padding-left:10px;
}
.am-list-item{
    padding-left: 0px;
}
.refer-check-box{
    margin-left:15px;
}
