
.refer-tree-content .am-accordion-content-box{
    padding-left:10px;
}

.refer-check-box{
    margin-left:15px;
}
.YYRefer-list .custom-pagination-with-icon{
  margin-top: 2vh;
}

.refer-tree-content .am-accordion-header{
    white-space: inherit !important;
    height:auto !important;
}

.refer-tree-content .am-list-content{
    white-space: inherit !important;
}
.refer-tree-content{
    padding-bottom: 45px;
    padding-top: 45px;
}
.yyreferlist-content{
    padding-bottom: 45px;
    padding-top: 45px;
}
.Nav{
    position: fixed;
    width: 100vw;
    z-index:100;
}
.yyrefer-tap{
    position:fixed;
    bottom:0;
    z-index: 99;
    width:100vw;
    height: 48px;
    background-color: white;
}
.refer-swipe{
    padding-top:45px;
}
.refer-lazytree-content{
    padding-bottom: 45px;
}